<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.philokun.stardustbackend.mapper.VideoShareMapper">
    <resultMap id="BaseResultMap" type="com.philokun.stardustbackend.model.entity.VideoShare">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="videoId" column="video_id"/>
        <result property="platform" column="platform"/>
        <result property="createTime" column="create_time"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , user_id, video_id, platform, create_time
    </sql>
</mapper> 